<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> My Photos </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
                <ion-img [src]="photo.webviewPath"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="addPhotoToGallery()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>